= content_tag :div, class: 'card border border-0', style: 'height: 100%' do
  = content_tag :div, class: 'card-header hstack gap-3 align-items-start bg-white pt-3 w-100', style: 'height: 80px' do
    = content_tag :h5 do
      = @title

    = content_tag :div, class: 'ms-auto' do
      = search

    - if button.present?
      = button

  = content_tag :div, class: 'table-responsive flex-fill' do
    = content_tag :table, options.merge({ class: 'w-100 table table-hover table-sm'}) do
      - if header.present?
        = header

      = body
      = content

  = content_tag :div, class: 'card-footer' do
    - if pagination.present?
      = pagination