%h2= t('.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .field.mt-3
    = f.label :first_name
    = f.text_field :first_name, autofocus: true, class: 'form-control shadow-none'
    .text-danger.small= attr_message(resource, :first_name)

  .field.mt-2
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control shadow-none'
    .text-danger.small= attr_message(resource, :last_name)

  .field.mt-2
    = f.label :email
    = f.email_field :email, autocomplete: "email", class: 'form-control shadow-none'
    .text-danger.small= attr_message(resource, :email)

  .field.mt-2
    = f.label :password
    - if @minimum_password_length
      %em.small= t('devise.shared.minimum_password_length', count: @minimum_password_length)
    = f.password_field :password, autocomplete: "new-password", class: 'form-control shadow-none'
    .text-danger.small= attr_message(resource, :password)

  .field.mt-2
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control shadow-none'
    .text-danger.small= attr_message(resource, :password_confirmation)

  .actions.mt-4.mb-3
    = f.submit t('.sign_up'), class: "btn btn-primary w-100", data: { disable_with: "Aguarde..." }
= render "devise/shared/links"
