= form_for @address_category do |f|
  .form-row
    .d-flex
      = f.label :name
      %i.text-danger *
    = f.text_field :name, class: 'form-control shadow-none', autofocus: true
    .text-danger.small= attr_message(@address_category, :name)

  .form-row.mt-4
    = f.button :submit, class: 'btn btn-primary btn-sm rounded-2 me-2', data: { disable_with: t("global.saving") } do
      = t('global.save_with', {title: "Categoria"})