%h2= t('.sign_in')
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.mt-4
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control shadow-none', required: true
    .text-danger.small= attr_message(resource, :email)
  .field.mt-3
    = f.label :password
    = f.password_field :password, autocomplete: "current-password", class: 'form-control shadow-none'
    .text-danger.small= attr_message(resource, :password)

  - if devise_mapping.rememberable?
    .field.mt-2
      = f.check_box :remember_me
      = f.label :remember_me

  .actions.mt-3.mb-4
    = f.submit t('.sign_in'), class: "btn btn-primary w-100", data: { disable_with: "Aguarde..." }

= render "devise/shared/links"
