= render Table::RowComponent.new(options: { style: 'height: 50px', id: dom_id(address) }) do |row|
  - row.with_col(options: {style: 'min-width: 180px'}) { address.name }
  - row.with_col(options: {style: 'min-width: 70px'})  { address.state_name }
  - row.with_col(options: {style: 'min-width: 180px'}) { address.city_name }
  - row.with_col(options: {style: 'min-width: 180px'}) { address.address_line_1 }
  - row.with_col(options: {style: 'min-width: 80px'})  { address.address_number }
  - row.with_col(options: {style: 'min-width: 130px'}) { address.address_line_2 }
  - row.with_col(options: {style: 'min-width: 150px'}) { address.district_name }
  - row.with_col(options: {style: 'min-width: 150px'}) { translate_enum(address, :address_type) }
  - row.with_col(options: {style: 'min-width: 110px'}) { address.address_category.name }
  - row.with_col do
    = link_to [:edit, address ], class: "text-decoration-none text-secondary-emphasis", data: { turbo_frame: :drawer } do
      %i.material-icons.material-icons-outlined= "edit"

    = link_to [address], method: :delete, class: "text-danger", data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } do
      %i.material-icons.material-icons-outlined= "delete"