.p-3.bg-white.border-end{style: "width: 400px; height: 100%"}
  .d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none
    %span.material-icons-outlined.fs-2= 'account_circle'
    .d-flex.flex-column.ms-1
      %span.ps-1= current_user.first_name
      %span.ps-1.small= current_user.email
  %hr/

  .d-flex.flex-column.justify-content-between{style: ""}
    %ul.nav.nav-pills.flex-column.fw-semibold
      %li.nav-item.mb-3
        = link_to home_index_path, class: "nav-link d-flex #{set_active_drawer_item_class(active_drawer_path?('home'))}" do
          %span.material-icons-outlined.me-2= 'home'
          Início

      %li.nav-item.mb-3
        = link_to :addresses, class: "nav-link d-flex #{set_active_drawer_item_class(active_drawer_path?('addresses'))}" do
          %span.material-icons-outlined.me-2= 'place'
          Endereços

      %li.nav-item.mb-3
        = link_to :address_categories, class: "nav-link d-flex #{set_active_drawer_item_class(active_drawer_path?('address_categories'))}" do
          %span.material-icons-outlined.me-2= 'category'
          Categorias de Endereço
